flusso_node_red.txt
[{"id":"bb9eae37.64e728","type":"ibmiot in","z":"397ec9ff.6c5d5e","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"pdpdevice","applicationId":"","deviceType":"pdpdevicetype","eventType":"+","commandType":"","format":"json","name":"pdpiotallevents","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":183.90000915527344,"y":177,"wires":[["18220226.eda746","e73bf157.9b679","a8974029.800948"]]},{"id":"18220226.eda746","type":"debug","z":"397ec9ff.6c5d5e","name":"","active":false,"console":"false","complete":"false","x":536.9000091552734,"y":102.80000305175781,"wires":[]},{"id":"e73bf157.9b679","type":"function","z":"397ec9ff.6c5d5e","name":"status device","func":"var temp= {payload: msg.payload.d.temperature};\nvar hum= {payload: msg.payload.d.humidity};\nvar pres= {payload: msg.payload.d.pressure};\nreturn [temp, hum, pres]; ","outputs":"3","noerr":0,"x":537.5,"y":268.20001220703125,"wires":[["e06325b0.cae75","eb24eca8.7da78"],["f97b52d6.c0f73","e947b76c.2a4d9"],["a7271bd2.2a8b08","167bba6c.d91abe"]]},{"id":"e06325b0.cae75","type":"debug","z":"397ec9ff.6c5d5e","name":"temp","active":false,"console":"false","complete":"payload","x":699.4999847412109,"y":209.8000030517578,"wires":[]},{"id":"f97b52d6.c0f73","type":"debug","z":"397ec9ff.6c5d5e","name":"hum","active":false,"console":"false","complete":"payload","x":752.5,"y":392.79998779296875,"wires":[]},{"id":"a7271bd2.2a8b08","type":"debug","z":"397ec9ff.6c5d5e","name":"pres","active":false,"console":"false","complete":"payload","x":678.5,"y":520.7999877929688,"wires":[]},{"id":"eb24eca8.7da78","type":"ui_gauge","z":"397ec9ff.6c5d5e","name":"temperatura","group":"6b5468d5.8b29a","order":0,"width":0,"height":0,"gtype":"wave","title":"temp","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":725.5,"y":105.80000305175781,"wires":[]},{"id":"e947b76c.2a4d9","type":"ui_gauge","z":"397ec9ff.6c5d5e","name":"umidita","group":"6b5468d5.8b29a","order":0,"width":0,"height":0,"gtype":"wave","title":"hum","label":"percentuale","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":756.2000122070312,"y":265.20001220703125,"wires":[]},{"id":"167bba6c.d91abe","type":"ui_gauge","z":"397ec9ff.6c5d5e","name":"pressione","group":"6b5468d5.8b29a","order":0,"width":0,"height":0,"gtype":"wave","title":"press","label":"press","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":754.2000122070312,"y":463.20001220703125,"wires":[]},{"id":"a8974029.800948","type":"switch","z":"397ec9ff.6c5d5e","name":"checktemp","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","outputs":1,"x":163.90000915527344,"y":367.5999755859375,"wires":[["c3c342f9.e2f2c8"]]},{"id":"c3c342f9.e2f2c8","type":"function","z":"397ec9ff.6c5d5e","name":"check temperatura","func":"var temp = {payload: \"Attenzione Temperatura =  \" + msg.payload.d.temperature};\nreturn temp;","outputs":1,"noerr":0,"x":186.49998474121094,"y":429.4000244140625,"wires":[["55879e7.94a4e6","2c3827f0.bcb36"]]},{"id":"55879e7.94a4e6","type":"ui_toast","z":"397ec9ff.6c5d5e","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"alta temperatura","x":295.9000244140625,"y":566.7999877929688,"wires":[]},{"id":"2c3827f0.bcb36","type":"ui_audio","z":"397ec9ff.6c5d5e","name":"audio","group":"6b5468d5.8b29a","voice":"0","always":true,"x":407.5,"y":450.79998779296875,"wires":[]},{"id":"2f1081b6.be835e","type":"ibmiot out","z":"397ec9ff.6c5d5e","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"pdpdevice","deviceType":"pdpdevicetype","eventCommandType":"openDoor","format":"json","data":"button on","qos":0,"name":"iot open door","service":"registered","x":695.9000244140625,"y":728.4000244140625,"wires":[]},{"id":"e44a649f.c9c898","type":"function","z":"397ec9ff.6c5d5e","name":"","func":"var msg = {payload:\n                {textMessage: msg.payload}\n          };\nreturn msg;","outputs":1,"noerr":0,"x":417.49998474121094,"y":735.1999969482422,"wires":[["2f1081b6.be835e"]]},{"id":"23b83634.7ef87a","type":"ui_button","z":"397ec9ff.6c5d5e","name":"","group":"53c47128.a9d9b8","order":0,"width":0,"height":0,"passthru":false,"label":"Open Door","color":"","bgcolor":"","icon":"","payload":"apri la porta","payloadType":"str","topic":"","x":179.49998474121094,"y":737.1999969482422,"wires":[["e44a649f.c9c898"]]},{"id":"6b5468d5.8b29a","type":"ui_group","z":"","name":"Status","tab":"e4f5cc9b.591e08","disp":true,"width":"6"},{"id":"53c47128.a9d9b8","type":"ui_group","z":"","name":"Command","tab":"e4f5cc9b.591e08","disp":true,"width":"6"},{"id":"e4f5cc9b.591e08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]